.hero{
    min-width: 100%;
    height: 100vh;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 0% 100%);
    overflow: hidden;
    z-index: 2;
}
.hero-vdo{
    min-width: 100%;
    height: 100vh;
    object-fit: cover;
}
.hero-txt{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to bottom, #2222, #2228, #2222);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.hero-txt h1{
    font-size: 64px;
    font-family: Display;
    color: #fff;
    animation-delay: 0.5s;
    animation-name: textload;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    word-spacing: 16px;
    scale: 0;
    opacity: 0;
}
.hero-txt hr{
    width: 128px;
    border: 0.2px solid #fff;
    opacity: 1;
    animation-delay: 0.8s;
    animation-name: textload;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    scale: 0;
    opacity: 0;
}
.hero-txt p{
    font-weight: lighter;
    font-size: 28px;
    color: #ccc;
    animation-delay: 1s;
    animation-name: textload;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    scale: 0;
    opacity: 0;
}

.secondary-hero{
    width: 100%;
    min-height: 120vh;
    margin-top: -10%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #f82a, #f22a), center / cover no-repeat url(/images/bg1.jpg);
    clip-path: polygon(0% 0%, 100% 15%, 100% 90%, 70% 100%, 0% 85%);
}
.secondary-hero hr{
    min-width: 100px;
    max-width: 100px;
    border: 3px solid gold;
    opacity: 1;
}
.secondary-hero p{
    width: 90%;
    max-width: 900px;
    text-align: justify;
    font-size: 22px;
}

.rec-proj h2{
    margin: auto;
    padding: 16px;
    font-size: 48px;
    max-width: fit-content;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


@keyframes textload {
    from{
        scale: 0;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}